<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/edit">
        <input type="text" name="updateBuyer" placeholder="<%= query.buyer %>"> <span> is buying : </span>
        <input type="text" name="updateItem" placeholder="<%= query.item %>">
        <button type="submit"> Update </button>
    </form>
   <p> </p>
</body>
</html>